.banner{
    background: var(--gradient-blue);
    color: var(--white);
    text-align: center;
    padding: 2.5em 2em;
}

.banner_title{
    font-size: 18px;
    font-weight: 700;
}

.banner_text{
    font-weight: 500;
    margin: 1em 0;
}

.banner_search{
    background-color: transparent;
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.banner_search::placeholder{
    font-family: var(--main-source);
    font-size: 14px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    background: url("../assets/lupa.svg");
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner_title{
        font-size: 36px;
    }

    .banner_search{
        width: 50%;
    }

    .banner_search::placeholder{
        background-position: 6em;
    }
}

@media screen and (min-width: 1728px) {
    .banner{
        padding: 6em 0;
    }

    .banner_search{
        width:35%
    }

    .banner_search::placeholder{
        background-position: 1em;
        text-align: center;
    }
}